# Introduction

This notebook is used in order to prepare a clean version of the csv file ready to print top N airports and pax.

In [1]:
import numpy as np
import pandas as pd

In [52]:
fraw = '../ex2.h5';
fnew = 'topN.h5';

In [60]:
#Read dataframe and clean strings
df = pd.read_hdf(fraw,mode='r')
df['arr_port']=df['arr_port'].str.strip()

In [61]:
#Group by, sum PAX and sort values
df = df.groupby(['arr_port']).sum()
df = df.sort_values('pax',ascending=False)
df= df.reset_index(level=['arr_port'])
#Lets make index column to give the actual position on the ranking!
df.index = np.arange(1, len(df) + 1)

In [62]:
#Write new file with sorted results
with pd.HDFStore(fnew,mode='w') as store:
    store.append('sorted_bookings', df,data_columns=['arr_port','pax'])

In [63]:
df = pd.read_hdf(fnew,mode='r')
N = 7
df.head(N)

  arr_port    pax
1      LHR  88809
2      MCO  70930
3      LAX  70530
4      LAS  69630
5      JFK  66270
6      CDG  64490
7      BKK  59460

In [64]:
topN = df.head(N)
print list(topN.index)
#topN= topN.reset_index(level=['arr_port']) #Reset index in order to use arr_port as a column again
#topN_names = topN['arr_port'].tolist()
#topN_pax = topN['pax'].tolist()

[1, 2, 3, 4, 5, 6, 7]

In [65]:
mydict=topN.to_dict()

In [66]:
mydict

{'arr_port': {1: 'LHR',
  2: 'MCO',
  3: 'LAX',
  4: 'LAS',
  5: 'JFK',
  6: 'CDG',
  7: 'BKK'},
 'pax': {1: 88809, 2: 70930, 3: 70530, 4: 69630, 5: 66270, 6: 64490, 7: 59460}}

# Testing the web service

In [73]:
import json
import web

In [74]:
json.dumps(mydict)

'{"pax": {"1": 88809, "2": 70930}, "arr_port": {"1": "LHR", "2": "MCO"}}'

In [78]:
name = 10

In [79]:
fnew = 'topN.h5';#File to read
df = pd.read_hdf(fnew,mode='r')
N = np.int(name)#Convert to integer
df = df.head(N)
mydict = df.to_dict()
#web.header('Content-Type','application/json')
print json.dumps(mydict)

{"pax": {"1": 88809, "2": 70930, "3": 70530, "4": 69630, "5": 66270, "6": 64490, "7": 59460, "8": 58150, "9": 58000, "10": 55590}, "arr_port": {"1": "LHR", "2": "MCO", "3": "LAX", "4": "LAS", "5": "JFK", "6": "CDG", "7": "BKK", "8": "MIA", "9": "SFO", "10": "DXB"}}