# Introduction

This notebook is used in order to prepare a clean version of the csv file ready to print top N airports and pax.

In [1]:
import numpy as np
import pandas as pd

In [8]:
fraw = '../ex2.h5';
fnew = 'topN.h5';

In [7]:
#Read dataframe and clean strings
df = pd.read_hdf(fraw,mode='r')
df['arr_port']=df['arr_port'].str.strip()

In [9]:
#Group by, sum PAX and sort values
df = df.groupby(['arr_port']).sum()
df = df.sort_values('pax',ascending=False)

In [10]:
#Write new file with sorted results
with pd.HDFStore(fnew,mode='w') as store:
    store.append('sorted_bookings', df,data_columns=['arr_port','pax'])

In [11]:
df = pd.read_hdf(fnew,mode='r')
N = 15
df.head(N)

            pax
arr_port
LHR       88809
MCO       70930
LAX       70530
LAS       69630
JFK       66270
CDG       64490
BKK       59460
MIA       58150
SFO       58000
DXB       55590
ORD       53200
FCO       45120
IST       43850
DFW       42420
CUN       42000